.task {
  font-family: Arial, sans-serif;
  background-color: #D8BFAA;
  color: black;
  flex-grow: 1;
  min-height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 120px;
  margin-bottom: 3px;
}

.task__top {
  display: flex;
  justify-content: space-between;
  min-height: 23px;
}

.task__delete-button {
  cursor: pointer;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__delete-icon {
  width: 20px;
  height: 20px;
}

.task__delete-icon:hover {
  width: 22px;
  height: 22px;
}

.task__title-wrapper {
  max-width: calc(100% - 22px);
}

.task__title-input {
  position: relative;
  z-index: 20;
  width: fit-content;
}

.task__edit-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.task__mitarbeiter {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.task__mitarbeiter-input {
  position: relative;
  z-index: 20;
  width: fit-content;
}

.task__mitarbeiter-input {
  position: relative;
  z-index: 20;
}
