.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.title textarea {
  font-weight: bold;
  line-height: 165%;
}

.dialog {
  position: fixed;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  justify-content: center;
  align-items: flex-start;
  aspect-ratio: 1.5 / 1;
  height: 37vh;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.title {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  background-color: #f3f3f3;
  margin-bottom: 7px;
  height: 5vh;
  display: flex;
  word-break: break-all;
}
.content {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  background-color: #f3f3f3;
  margin-bottom: 7px;
  height: 25vh;
  display: flex;
  word-break: break-all;
}

.buttons {
  display: flex;
  justify-content: end;
  padding: 5px;
}
.buttons button {
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #1F942A;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  background-color: #1F942A;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  color: #f3f3f3;
}
