

.loader-wrapper {
  position: absolute;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loader {
  position: relative;
  width: 100vw;  /* 100% der Viewport-Breite */
  height: 3px;
  background-color: transparent;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;  /* Startet außerhalb des Containers */
  width: 60%;
  height: 100%;
  background-color: #8C0410;
  animation: moveRight 1s linear infinite, moveLeft 0s linear 2.9s infinite;
}

@keyframes moveRight {
  0% {
    left: -100%;  /* Startet ganz links außerhalb der Anzeige */
  }
  100% {
    left: 100%;  /* Bewegt sich nach ganz rechts */
  }
}

@keyframes moveLeft {
  0% {
    left: 100%;  /* Startet nach der Animation von rechts */
  }
  100% {
    left: -100%;  /* Bewegt sich sofort wieder nach links */
  }
}
