/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  user-select: none;
}
@media (max-width: 800px) {
  .mein-element {
    width: 100%; /* Nimmt die volle Breite */
    font-size: 14px; /* Kleinere Schrift */
  }
}
