.taskboard {
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  padding: 10px;
  margin: 0;
}

.taskboard__add-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #666666;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.taskboard__add-button:hover {
  font-size: 45px;
}
