<div class="anforderung">
  <div class="anforderung__details">
    <div class="anforderung__details-top">
      <div class="anforderung__titel">
        {{anforderung.data.title}}
      </div>
      <div class="anforderung__menu-button" (click)="onBtnMenuClicked()">
        ...
      </div>

      <div class="anforderung__dropdown" *ngIf="isMenuVisible" [ngStyle]="{'top.px': dropdownPosition.y}">
        <button (click)="onBtnEditClicked()">Bearbeiten</button>
        <button (click)="onBtnDeleteClicked()">Löschen</button>
        <div class="anforderung__menu-background" (click)="onMenuBackgroundClicked()"></div>
      </div>
    </div>
    <div class="anforderung__beschreibung">
      {{anforderung.data.beschreibung}}
    </div>
  </div>
  <div class="anforderung__tasks-zustaende-wrapper">
    <div class="anforderung__tasks-todo anforderung__tasks-spalte">
      <app-task style="width: fit-content; display: block" [task]="t" *ngFor="let t of getTodoTasks()">

      </app-task>

      <div class="anforderung__add-button" (click)="onBtnAddTaskClicked()">
        +
      </div>
    </div>
    <div class="anforderung__tasks-in-progress anforderung__tasks-spalte">
      <app-task style="width: fit-content; display: block" [task]="t" *ngFor="let t of getInProgressTasks()">

      </app-task>
    </div>
    <div class="anforderung__tasks-done anforderung__tasks-spalte">
      <app-task style="width: fit-content; display: block" [task]="t" *ngFor="let t of getDoneTasks()">

      </app-task>
    </div>
  </div>

</div>
