<div class="anforderung">
  <div class="anforderung__details">
    <div class="anforderung__top">
      <div class="anforderung__top-left">
        <div class="anforderung__arrow-wrapper" *ngIf="isExpanded" (click)="toggleExpanded()">
          <img src="assets/arrow-down-white.png" class="anforderung__arrow" alt="v">
        </div>
        <div class="anforderung__arrow-wrapper" *ngIf="!isExpanded" (click)="toggleExpanded()">
          <img src="assets/arrow-right-white.png" class="anforderung__arrow" alt=">">
        </div>
        <div class="anforderung__titel">
          {{ anforderung.data.title }}
        </div>
      </div>
      <div class="anforderung__top-right">
        <div class="anforderung__menu-button" (click)="onBtnMenuClicked()">
          <img src="assets/hori-dots-white.png" class="anforderung__menu-button-icon" alt="...">
        </div>
      </div>

      <div class="anforderung__dropdown" *ngIf="isMenuVisible" [ngStyle]="{'top.px': dropdownPosition.y}">
        <button (click)="onBtnEditClicked()">Bearbeiten</button>
        <button (click)="onBtnDeleteClicked()">Löschen</button>
        <div class="anforderung__menu-background" (click)="onMenuBackgroundClicked()"></div>
      </div>
    </div>
    <div class="anforderung__beschreibung-wrapper" *ngIf="isExpanded">
      <div class="anforderung__beschreibung">
        {{ anforderung.data.beschreibung }}
      </div>

      <div class="anforderung__tasks-zustaende-wrapper" cdkDropListGroup>

        <!-- To-Do Spalte -->
        <div class="anforderung__tasks-todo anforderung__tasks-spalte"
             cdkDropList
             [cdkDropListData]="todoTasks"
             (cdkDropListDropped)="dropTask($event, TaskZustand.todo)">
          <app-task *ngFor="let t of todoTasks"
                    cdkDrag
                    [cdkDragDisabled]="dragAndDropDisabled"
                    [task]="t"
                    (isInEditMode)="isDragAndDropDisabled($event)">
          </app-task>
          <div class="anforderung__add-button" (click)="onBtnAddTaskClicked()">+</div>
        </div>


        <!-- In Progress Spalte -->
        <div class="anforderung__tasks-in-progress anforderung__tasks-spalte"
             cdkDropList
             [cdkDropListData]="inProgressTasks"
             (cdkDropListDropped)="dropTask($event, TaskZustand.inProgress)">
          <app-task *ngFor="let t of inProgressTasks"
                    cdkDrag
                    [cdkDragDisabled]="dragAndDropDisabled"
                    [task]="t"
                    (isInEditMode)="isDragAndDropDisabled($event)">
          </app-task>
        </div>

        <!-- Done Spalte -->
        <div class="anforderung__tasks-done anforderung__tasks-spalte"
             cdkDropList
             [cdkDropListData]="doneTasks"
             (cdkDropListDropped)="dropTask($event, TaskZustand.done)">
          <app-task *ngFor="let t of doneTasks"
                    cdkDrag
                    [cdkDragDisabled]="dragAndDropDisabled"
                    [task]="t"
                    (isInEditMode)="isDragAndDropDisabled($event)">
          </app-task>
        </div>
      </div>
    </div>
  </div>
</div>
