.anforderung {
  background-color: #f3f3f3;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.anforderung__details {
  min-width: 300px;
  border-right: 3px solid #e0e0e0;
}

.anforderung__tasks-zustaende-wrapper {
  flex-grow: 1;
  display: flex;
}

.anforderung__tasks-spalte {
  flex-grow: 1;
  max-width: calc(33.33333% - 16px);
  height: calc(100% - 10px);
  display: flow;
  padding: 5px;
}

.anforderung__tasks-todo {
  position: relative;
  border-right: 3px solid #e0e0e0;
}

.anforderung__tasks-in-progress {
  border-right: 3px solid #e0e0e0;
}

.anforderung__add-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #0E3D31;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
